<div class="bx--form-item">
    <div class="bx--select">
        <label for="{{select-id}}" class="bx--label">{{select-label}}</label>
            <div class="bx--select-input__wrapper" >
                <select id="{{select-id}}" class="bx--select-input">
                    {{#if select-trigger}}
                        <option class="bx--select-option" value=""  disabled selected hidden>
                            {{select-trigger}}
                        </option>
                    {{/if}}
                    {{#if select-list}}
                        {{#each select-list}}
                            {{#if category-name}}
                                <optgroup class="bx--select-optgroup" label="{{category-name}}">
                            {{/if}}
                            {{#category-list}}
                                <option class="bx--select-option" value="{{option-value}}" >
                                    {{option-text}}
                                </option>
                            {{/category-list}}
                            {{#if category-name}}
                                </optgroup>
                            {{/if}}
                        {{/each }}
                    {{/if }}
                </select>
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--select__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path></svg>
            </div>
        </div>
    </div>
</div>
