<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="../../css/carbon-components.min.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/bundle.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
		<script src="../../js/carbon-components.min.js" defer></script>
		<script src="../../js/bundle.js" defer></script>

		<!--<Deject>-->
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{{ patternLabHead }}}
		<!-- End Pattern Lab -->
		<!--</Deject>-->

	</head>
	<body class="{{ bodyClass }}">
